ul.errorlist {
    float:left;
    width:200px;
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red url(../images/icon_alert.gif) 5px .3em no-repeat;
}

.footer_brand{
    font-size:1.1em;
    float:right;
    padding-right:10px;
    text-align:right;
    font-style:italic;
}

.site_title{
    font-size:1.4em;
    font-weight:bold;
    padding:2px;
}

.site_description{
    font-weight:bold;
    padding:2px;
    font-style:italic;
}

.left{
    float:left;
    padding-left:10px;
}

#sort-list {
    list-style: none;
}

#sort-list li {
    display: block;
    padding: 20px 10px; margin-bottom: 3px;
    background-color: #efefef;
}

#sort-list li img.handle {
    margin-right: 20px;
    cursor: move;
}

